[Desktop Entry]
Name=HMDC OutageNotifier
Exec=/usr/sbin/outageNotifierGUI.py
Comment=Invokes Notifications to create a Gnome widget for RCE outages.
Encoding=UTF-8
Type=Application
StartupNotify=false