[Desktop Entry]
Name=HMDC Outage Notifier
Exec=/usr/bin/notifications.py
Comment=Invokes Notifications to create a Gnome widget for RCE outages.
Encoding=UTF-8
Type=Application
StartupNotify=false
